@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Allura as the primary font */
body {
  font-family: 'Allura', cursive;
}

.balloon {
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for a 3D effect */
  animation: floatUp 4s ease-in-out infinite; /* Optional, for continuous floating effect */
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300px);
  }
}
